certifi==2025.10.5
charset-normalizer==3.4.4
docutils==0.22.2
idna==3.11
keyboard==0.13.5
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
MouseInfo==0.1.3
pillow==10.4.0
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==2.0.1
pyperclip==1.11.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
pytweening==1.2.0
pywin32==311
requests==2.32.5
Unidecode==1.3.8
urllib3==2.5.0
